* {
  color: black;
  font-family: Comic Sans MS;
}
.navbar-brand {
  font-size: 1.8em;
}
#header-nav {
  border-radius: 0;
  border: 0;
  background-color: #e1e19b;
}
#nav-list a {
  text-align: center;
  font-size: 1.2em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #9be1a0;
}
#chicken-div {
  background-color: gray;
  margin-top: 20px;
  color: black;
}

#beef-div {
  background-color: gray;
  margin-top: 20px;
  color: black;
}

#sushi-div {
  background-color: gray;
  margin-top: 20px;
  color: black;
}
@media (min-width: 768px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #e1e19b;
  }
}